/* This is an example of using Sass, otherwise plain CSS works too*/
$primary-background: radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(252,70,107,1) 100%);
;
@import 'variables';
@import 'header';
@import 'dashboard';
@import 'rooms';

body {
  background: $light;
  font-family: $body-font;
}

.hotel-brand {
  cursor: pointer;
}

main {
  padding: 30px 50px;
}

.hidden {
  display: none;
}
