// Colors
$main-dark: #344E41;
$main-medium: #515C3F;
$accent-dark: #713E5A;
$accent-medium: #D57A56;
$light: #DAD7CD;

// Fonts
$display-font: 'Yeseva One', cursive;
$body-font: 'Open Sans', sans-serif;