// ***** Colors *****
$main-dark: #344E41;
$main-medium: #515C3F;
$accent-dark: #713E5A;
$accent-medium: #D57A56;
$light: #DAD7CD;

// ***** Fonts *****
$display-font: 'Yeseva One', cursive;
$body-font: 'Open Sans', sans-serif;

// ***** Mixins *****
@mixin drop-shadow($color) {
  box-shadow: 0px 0px 7px $color;
}

@mixin input-box() {
  margin-right: 25px;
  padding: 5px;
  height: 25px;
}

@mixin submit-button {
  background-color: $accent-dark;
  color: white;
  padding: 5px 15px;
  font-size: 1.15rem;
}